

//aspectRatio: '16/9'
.info-box {
  border: 1px red solid;
  @apply relative rounded-2xl overflow-clip mr-3 h-[16rem]  w-[11.30rem] flex-none ;//w-[14.50rem]


  .country-name {
    z-index: 10;
    @apply 
    absolute backdrop-blur-[50px] backdrop-saturate-[200%] bg-[#d2d2c9]   
    bg-opacity-40 border border-opacity-10 border-[#d2d2c9]
    text-[#FFFF] bottom-5 left-1/2 transform -translate-x-1/2 rounded-lg p-1 text-sm;
  }

  .image-box {
    z-index: 5;
    @apply object-cover;
  }
}


