


.upper-layer-index {
    z-index: 10;
}

.search-section-main {
    @extend .upper-layer-index;
    @apply  bg-[#EEF9FF] h-[23rem] mt-5 relative overflow-clip ;

    .section-titel {
        @extend .upper-layer-index;
        @apply line-clamp-2 font-semibold text-2xl max-w-[18.188rem] leading-relaxed;
    }
    .service-introducer{
        @extend .upper-layer-index;
    }

    .home-image{
     bottom: -54px;
     right: -54px;
     z-index: -1;
     @apply absolute;
   }
}